<%= react_component("HeroSection", prerender: false) %>

<%= react_component("RatchetSection", prerender: false) %>


<div>
  <h1 id="h1-featured-games">Featured Games</h1>
  <%= react_component("GamesList", props: { images: @images, image_width: "300px", n_images_in_row: 2 }, prerender: false) %>
</div>
